body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f6f6f2; /* クリーム色 */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #e1f1e8; /* グリーン */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #003300; /* 濃い緑 */
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #003300; /* 濃い緑 */
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #003300; /* 濃い緑 */
  border-radius: 5px;
}

button {
  background-color: #4caf50; /* グリーン */
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* より濃いグリーン */
}

p {
  margin-top: 20px;
  color: #003300; /* 濃い緑 */
}

a {
  color: #006600; /* グリーン */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #004d00; /* より濃いグリーン */
  text-decoration: underline;
}

/* フラッシュメッセージのスタイル */
/* .flash-messages {
  margin-top: 1px;
} */

.flash-message {
  padding: 10px;
  border-top: 1px solid #cc0000; /* 濃い緑 */
  border-bottom: 1px solid #cc0000; /* 濃い緑 */
  /* border-radius: 5px; */
  background-color: #e1f1e8; /* グリーン */
  color: #ff3333; /* 濃い緑 */
  margin-bottom: 10px;
  margin-top: 10px;
}

/* フラッシュメッセージの成功メッセージ */
.flash-message.success {
  background-color: #4caf50; /* グリーン */
  color: #fff;
  border-color: #45a049; /* より濃いグリーン */
}

/* フラッシュメッセージのエラーメッセージ */
.flash-message.error {
  background-color: #ff3333; /* 赤 */
  color: #fff;
  border-color: #cc0000; /* より濃い赤 */
}
