<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Talkie Village</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
</head>
<body>
  <body>
  <div class="chat-app-container">
    <div id="sidebar">
      <h1>Talkie Village</h1>
      <p id="username">Username</p>
      <button id="logout-btn">Logout</button>
    </div>

    <div id="main-content">
      <h2>Main Room</h2>
      
      <div id="chat-window"></div>

      <div id="message-input">
        <textarea id="message" placeholder="Type your message"></textarea>
        <button id="send-btn">Send</button>
      </div>
    </div>
  </div>

</body>
</html>