<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

  <div class="container">
      <form action="/login" method="post">
          <h1>Login</h1>

          <label for="username">Username:</label>
          <input type="text" id="name" name="name" required>

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>

          {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flash-messages">
              {% for message in messages %}
              <p class="flash-message">{{ message }}</p>
              {% endfor %}
            </div>
          {% endif %}
          {% endwith %}

          <button type="submit">Login</button>
      </form>

      <p>Don't have an account? <a href="/signup">Register here</a></p>
      
      
  
  </div>
  
</body> 
</html>
